<h2><%= t('.title') %></h2>

<table>
    <% @email = false %>
    <%= render(cart.line_items) %>
    
    <tr class="total_line">
        <td colspan="3">Total:</td>
        <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
    </tr>
    
</table>

<%= button_to t('.empty'), cart, method: :delete,
    data: { confirm: 'Are you sure?' },
    remote: true %>
<% unless current_page?(new_order_path) %>
<%= button_to t('.checkout'), new_order_path, method: :get %>
<% else %>
<%= button_to t('.back'), store_index_path, method: :get %>
<% end %>
